.arrow_up {
    position: fixed;
    text-align: center;
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
    height: 3rem;
    padding-top: 0.5rem;
    line-height: 3rem;
    border-radius: 100%;
    background-color: var(--color-main);
    box-shadow: 2px 2px 0px 0px var(--color-text);
    transition: all 500ms;
}

.text_tt{
    color: var(--color-point);
}

.arrow_up:hover{
    background-color: var(--color-main);
    filter: brightness(95%);
    transition: all 500ms;
    box-shadow: 2px 2px 0px 0px var(--color-point);
}